@keyframes transicionImagen {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*  se aplica la animacion */
.transicion {
  animation-name: transicionImagen;
  animation-duration: 1s;
}
.transicionBackwards {
  animation-name: transicionImagen;
  animation-duration: 1s;
}
div#Contenedor {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  margin-top: 1rem;
}
img.Imagen {
  opacity: 1;
  width: 160px;
  height: 160px;
  border: black solid 0.5px;
}

img.Imagen:hover {
  cursor: pointer;
}
.active {
  border: red solid 3px !important;
}

span.correctas {
  background-color: white;
  padding: 0.25rem;
  border-radius: 15px;
  letter-spacing: 2px;
}
.bordeimagen {
  border-radius: 20px;
}

.estilado {
  background-color: lightgray;
  border-radius: 15px;
}
label input {
  margin-right: 0.5rem !important;
  margin-left: 0.3rem !important;
}
label {
  padding: 0.1rem;
  margin-bottom: 0 !important;
}
table tr td,
table tr th {
  color: #ffffff !important;
}
