div#Contenedor {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  margin-top: 1rem;
}
img#Imagen {
  width: 150px;
  height: 150px;
  border: black solid 0.5px;
}

img#Imagen:hover {
  cursor: pointer;
}
.active {
  border: red solid 3px !important;
}
