body {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  min-height: 100vh;
  overflow-x: hidden;
}
@media all and (max-width: 350px) {
  .bordeimagen {
    width: 80%;
  }
  div#Contenedor {
    margin-bottom: 0.5rem;
  }
  img.Imagen {
    height: 66px !important;
    width: 66px !important;
  }
  .phones {
    height: 125px !important;
    width: 125px !important;
  }
}
@media all and (max-width: 440px) and (min-width: 300px) {
  .bordeimagen {
    width: 80%;
  }
  div#Contenedor {
    margin-bottom: 1rem;
  }
  img.Imagen {
    height: 80px !important;
    width: 80px !important;
  }
  .phones {
    height: 135px !important;
    width: 135px !important;
  }

  h1 {
    font-size: 2.4rem !important;
    text-align: center !important;
  }
  h3 {
    font-size: 1.8rem !important;
    text-align: center !important;
  }
  h4 {
    font-size: 1.5rem !important;
    text-align: center !important;
  }
}
@media all and (max-width: 524px) and (min-width: 441px) {
  .bordeimagen {
    width: 80%;
  }
  div#Contenedor {
    margin-bottom: 0.5rem;
  }
  img.Imagen {
    height: 100px !important;
    width: 100px !important;
  }
  .phones {
    height: 125px !important;
    width: 125px !important;
  }
}
@media all and (max-width: 549px) and (min-width: 525px) {
  .bordeimagen {
    width: 80%;
  }
  div#Contenedor {
    margin-bottom: 0.5rem;
  }
  img.Imagen {
    height: 110px !important;
    width: 110px !important;
  }
  .phones {
    height: 125px !important;
    width: 125px !important;
  }
}
@media all and (max-width: 649px) and (min-width: 550px) {
  .bordeimagen {
    width: 80%;
  }
  div#Contenedor {
    margin-bottom: 0.5rem;
  }
  img.Imagen {
    height: 120px !important;
    width: 120px !important;
  }
  .phones {
    height: 125px !important;
    width: 125px !important;
  }
}
@media all and (max-width: 750px) and (min-width: 650px) {
  .bordeimagen {
    width: 80%;
  }
  div#Contenedor {
    margin-bottom: 0.5rem;
  }
  img.Imagen {
    height: 120px !important;
    width: 120px !important;
  }
  .phones {
    height: 125px !important;
    width: 125px !important;
  }
}
@media all and (max-width: 780px) and (min-width: 751px) {
  .bordeimagen {
    width: 80%;
  }
  div#Contenedor {
    margin-bottom: 0.5rem;
  }
  img.Imagen {
    height: 140px !important;
    width: 110px !important;
  }
  .phones {
    height: 155px !important;
    width: 155px !important;
  }
}

@media all and (max-width: 989px) and (min-width: 781px) {
  .bordeimagen {
    width: 80%;
  }
  div#Contenedor {
    margin-bottom: 0.5rem;
  }
  img.Imagen {
    height: 150px !important;
    width: 110px !important;
  }
  .phones {
    height: 205px !important;
    width: 205px !important;
  }
}
@media all and (max-width: 1500px) and (min-width: 990px) {
  .bordeimagen {
    width: 80%;
  }
  div#Contenedor {
    margin-bottom: 0.5rem;
  }
  img.Imagen {
    height: 140px !important;
    width: 150px !important;
  }
  .phones {
    height: 350px !important;
    width: 350px !important;
  }
}
/* // PANTALLA MUY PEQUEñA */
