body {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  min-height: 100vh;
}

@media all and (max-width: 799px) and (min-width: 300px) {
  img#Imagen {
    height: 80px !important;
    width: 80px !important;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }
  img#ImagenDificil {
    height: 60px !important;
    width: 60px !important;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  h1 {
    font-size: 2.4rem !important;
    text-align: center !important;
  }
  h3 {
    font-size: 1.8rem !important;
    text-align: center !important;
  }
  h4 {
    font-size: 1.5rem !important;
    text-align: center !important;
  }
}
